
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=6vb_*w!a4k8(*2fe^!hh^5r%b%7dmuqo_+8fe7n)n_7t^3u+&#
DJANGO_ALLOWED_HOSTS=.qweryacademy.com
DATABASE_URL=
# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
MAILGUN_API_KEY=key-5c10504e6978f4e58f2a3411a2ee30d5
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=
MILGUN_DOMAIN=app7026078392354b4b8676af83283b32fa.mailgun.org

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

DJANGO_OPBEAT_ORGANIZATION_ID
DJANGO_OPBEAT_APP_ID
DJANGO_OPBEAT_SECRET_TOKEN


