{% extends "base.html" %}
{% load add_attr %}
{% block content %}
<!-- Home -->
<section id="home" class="home-default">
	
    <div class="owl-slideshow bg-carousel home-full-carousel" data-auto-play="4500">
    	<div class="bg-image bg-image-1"></div>
        <div class="bg-image bg-image-2"></div>
        <div class="bg-image bg-image-3"></div>
    </div>
    <div class="overlay overlay-black editable-alpha" data-alpha="70"></div>  
    <div class="container dark vertical-center">
        <div class="row">
            <div class="col-md-6 col-lg-5 vertical-center">
            	<div class="owl-carousel margin-bottom-20 animated visible" data-animation="zoomIn" data-single-item="true" data-auto-play="3500" data-pagination="true"> 
                    <div>
                        <span class="sep sep-primary"></span>
                        <h4 class="text-uppercase"><strong>It is</strong> about <strong>1's and 0's</strong>.</h4>
                        <!--<a href="#" class="btn btn-primary">Sign in!</a><a href="#" class="btn btn-link">Read More</a>-->
                    </div>
                    <div>
                        <span class="sep sep-primary"></span>
                        <h4 class="text-uppercase"><strong>Learn</strong> to be an <strong>effective Programmer</strong> with <strong>QweryAcademy</strong></h4>
                        <!--<a href="#" class="btn btn-primary">Purchase it!</a><a href="#" class="btn btn-link">Read More</a>-->
                    </div>
                    <div>
                        <span class="sep sep-primary"></span>
                        <h4 class="text-uppercase"><strong>Improve </strong> your skill set </h4>
                        <!--<a href="#" class="btn btn-primary">Purchase it!</a><a href="#" class="btn btn-link">Read More</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-lg-offset-2 vertical-center">
                <div class="sign-in-box dark animated visible" data-animation="flipInX">
                    <div class="sign-in-head bg-black-transparent">
                        <span class="pull-left icon icon-lg margin-bottom-5"><i class="fa fa-download text-primary"></i></span>
                        <div class="left-space-lg">
                          <h5 class="text-uppercase margin-bottom-0"><strong>Register</strong> with QweryAcademy!</h5>
                          <!--<p class="lead text-muted font-alt margin-bottom-0">Sign up to be the first to get all of my best business advices for free to your inbox.</p>-->
                        </div>
                    </div>
                    <div class="sign-in-content bg-primary">
                    	<form action="{% url 'home' %}" method="post" id="sign-in-form">
                            {% csrf_token %}
                            <div class="form-group form-group-lg margin-bottom-0">
                                {{form.name|add_attributes:"class:form-control bg-white margin-bottom-5,placeholder:Your Full Name"}}
                            </div>
                            <div class="form-group form-group-lg margin-bottom-0">
                                {{form.email|add_attributes:"class:form-control bg-white margin-bottom-5,placeholder:Your Email Address..."}}
                            </div>
                            <div class="form-group form-group-lg margin-bottom-0">
                                {{form.number|add_attributes:"class:form-control bg-white margin-bottom-5,placeholder:Your Phone Number..."}}
                            </div>
                            <div class="form-group form-group-lg margin-bottom-0">
                                {{form.location|add_attributes:"class:form-control bg-white margin-bottom-5"}}
                            </div>
                            <div class="form-bottom-bar clearfix">
                              <button type="submit" class="btn btn-filled btn-primary-dark pull-right"><i class="icon-before fa fa-plus"></i>Register!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- Home / End -->

<!-- Content -->
<div id="content">

	<!-- Section -->
    <section class="section padded-vertical-70 container">
        <div class="row">
            <div class="col-lg-10">
            	<div class="section-title margin-bottom-40">
                    <h4 class="text-uppercase margin-bottom-0"><strong>Why</strong> learn Programming?</h4>
                    <span class="sep sep-primary sep-animated"></span>
                    <p class="lead font-alt">Nigeria like other developing countries has evolved to the point where school certificates obtained from higher institutions are not enough, you could have the best of grades from college and sure you would probably get a job after a while of searching but there is a high chance that you would be undervalued because quite frankly, it’s an employer’s market as the available spots are so limited and thousands of people are graduating every season (bagging BSc’s, MSc’s and PhD’s); so you’ll need the extra to be able to live that life where you don’t live from hand to mouth(you know how you get a salary and by the middle of the month you are already borrowing money and not because you are a spendthrift but just because it’s insufficient).</p>
                </div>
             </div>
        </div>
        <div class="row">
        	<!-- Icon Box -->
        	<div class="col-md-4 col-sm-4 icon-box icon-box-hover">
                <span class="icon icon-sm icon-circle icon-primary margin-bottom-20 animated" data-animation="bounceIn" data-animation-delay="400"><i class="fa fa-book"></i></span>
                <h5 class="margin-bottom-0">Benefits</h5>
                <p class="text-muted">The world of programming in Nigeria is an emerging market and has gotten to a point where basically everyone needs a programmer to develop something for them be it something as simple as a basic website to an e-commerce site, portfolio’s, regular business sites, social network sites e.tc. Or developing mobile applications or other softwares. Be it you or someone else, everyone needs a programmer to get things done. So it’s still at a stage where the demand is greater than the supply, which simply means <strong>capable</strong> programmers get paid well.</p>
            </div>
            <!-- Icon Box -->
        	<div class="col-md-4 col-sm-4 icon-box icon-box-hover">
            	<span class="icon icon-sm icon-circle icon-primary margin-bottom-20 animated" data-animation="bounceIn" data-animation-delay="600"><i class="fa fa-video-camera"></i></span>
            	<h5 class="margin-bottom-0">TRAITS  <strong>NEEDED WHEN </strong> STARTING OUT</h5>
                <p class="text-muted">There is only three things that is required if you want to learn programming. And it is neither being good at mathematics or being smart although they would certainly make you learning process faster. These three skills go hand in hand.
The 3 things would be discussed fully at length.</p>
                <a href="{% url 'how_we_help' %}" class="underline-link text-uppercase text-primary">Read more</a>
            </div>
            <!-- Icon Box -->
        	<div class="col-md-4 col-sm-4 icon-box icon-box-hover">
            	<span class="icon icon-sm icon-circle icon-primary margin-bottom-20 animated" data-animation="bounceIn" data-animation-delay="800"><i class="fa fa-camera"></i></span>
            	<h5 class="margin-bottom-0">QWERY ACADEMY GIVES YOU <strong>MORE</strong></h5>
                <p class="text-muted">Breaking down the concepts of the courses to make sure it can be easily grabbed is what we look out for and we also create a platform for individuals to reach their tutors at various times after class, so as to also create the opportunity to improve even outside the class environment.</p>
            </div>
        </div>
    </section>
  
    <!-- Section -->
    <section class="section padded-vertical-70">
    	<div class="bg-image bg-image-4"></div>
        <div class="overlay overlay-white editable-alpha" data-alpha="10"></div>
        <div class="container">
          <span class="pull-left icon icon-lg margin-bottom-0 animated" data-animation="bounceIn" data-animation-delay="400"><i class="fa fa-play-circle-o text-primary"></i></span>
          <div class="left-space-lg animated" data-animation="fadeInRight" data-animation-delay="400">
              <h4 class="text-uppercase margin-bottom-0"><strong>Get Access</strong> to free files!</h4>
              <p class="lead text-muted font-alt">Sign up to be the first to get all of my best business advices for free to your inbox.</p>
              <a href="#" class="btn btn-primary btn-filled">Purchase it!</a><a href="#" class="btn btn-link">Read More</a>
          </div>
        </div>
    </section>
    
    <!-- Section -->
   {% comment %} <section class="section padded-vertical-70 container">
        <div class="row">
            <div class="col-lg-10">
            	<div class="section-title margin-bottom-40">
                    <h4 class="text-uppercase margin-bottom-5"><strong>Trendnig</strong> articles</h4>
                    <span class="sep sep-primary sep-animated"></span>
                    <p class="lead font-alt">Sriracha chia blog, church-key plaid pop-up next level post-ironic PBRB drinking vinegar Helvetica photo booth cornhole art party Etsy.</p>
                </div>
             </div>
        </div>
        <div class="row">
        	<!-- Post  -->
            <div class="post post-horizontal col-md-6 clearfix">
                <div class="post-image-thumb animated" data-animation="fadeInLeft" data-animation-delay="400">
                    <img src="images/blog/post01-thumb.jpg" alt="" />
                </div>
                <div class="post-content">
                    <div class="post-labels">
                        <a href="#" class="label label-primary animated" data-animation="flipInX" data-animation-delay="400">Webdesign</a>
                        <a href="#" class="label label-primary animated" data-animation="flipInX" data-animation-delay="600">Webdevelopment</a>
                    </div>
                    <h5 class="post-title"><a href="#">Donec molestie in libero nec lobortis nec</a></h5>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i><a href="#">24.05.2014</a></span>
                        <span><i class="fa fa-comment"></i><a href="#">2 Comments</a></span>
                    </div>
                    <p class="font-alt">Sed volutpat purus non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. </p>
                    <a href="#" class="btn btn-primary btn-xs">Read more</a>
                </div>
            </div>
            <!-- Post  -->
            <div class="post post-horizontal col-md-6 clearfix">
                <div class="post-image-thumb animated" data-animation="fadeInLeft" data-animation-delay="600">
                    <img src="images/blog/post02-thumb.jpg" alt="" />
                </div>
                <div class="post-content">
                    <div class="post-labels">
                        <span class="label label-primary animated" data-animation="flipInX" data-animation-delay="400">E-marketing</span>
                    </div>
                    <h5 class="post-title"><a href="#">Donec molestie in libero nec lobortis nec</a></h5>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i><a href="#">24.05.2014</a></span>
                        <span><i class="fa fa-comment"></i><a href="#">2 Comments</a></span>
                    </div>
                    <p class="font-alt">Sed volutpat purus non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. </p>
                    <a href="#" class="btn btn-primary btn-xs">Read more</a>
                </div>
            </div>
            <!-- Post  -->
            <div class="post post-horizontal col-md-6 clearfix">
                <div class="post-image-thumb animated" data-animation="fadeInLeft" data-animation-delay="800">
                    <img src="images/blog/post03-thumb.jpg" alt="" />
                </div>
                <div class="post-content">
                    <div class="post-labels">
                        <span class="label label-primary animated" data-animation="flipInX" data-animation-delay="400">Webdesign</span>
                    </div>
                    <h5 class="post-title"><a href="#">Donec molestie in libero nec lobortis nec</a></h5>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i><a href="#">24.05.2014</a></span>
                        <span><i class="fa fa-comment"></i><a href="#">2 Comments</a></span>
                    </div>
                    <p class="font-alt">Sed volutpat purus non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. </p>
                    <a href="#" class="btn btn-primary btn-xs">Read more</a>
                </div>
            </div>
            <!-- Post  -->
            <div class="post post-horizontal col-md-6 clearfix">
                <div class="post-image-thumb animated" data-animation="fadeInLeft" data-animation-delay="1000">
                    <img src="images/blog/post04-thumb.jpg" alt="" />
                </div>
                <div class="post-content">
                    <div class="post-labels">
                        <span class="label label-primary animated" data-animation="flipInX" data-animation-delay="400">Social Media</span>
                    </div>
                    <h5 class="post-title"><a href="#">Donec molestie in libero nec lobortis nec</a></h5>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i><a href="#">24.05.2014</a></span>
                        <span><i class="fa fa-comment"></i><a href="#">2 Comments</a></span>
                    </div>
                    <p class="font-alt">Sed volutpat purus non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. </p>
                    <a href="#" class="btn btn-primary btn-xs">Read more</a>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}
    <!-- Section -->
    <section class="section padded-vertical-70 dark">
    	<div class="bg-image parallax bg-image-3"></div>
        <div class="overlay overlay-black editable-alpha" data-alpha="70"></div>
        <div class="container">
        	<div class="row">
            	<div class="col-md-12">
                    <!-- Twitter -->
                	<div class="tweet tweet-horizontal"></div>
                </div>
            </div>
        </div>
    </section>
    
</div>
<!-- Content / End -->

{% endblock content %}
